body {
  border: solid #70B296 50px;
  min-height: 800px;
}

h1 {
  background-color: #304C40;
  color: white;
  font-size: 4em;
  line-height: 3em;
  text-align: center;
  font-family: 'Josefin Slab', serif;
}

li {
  list-style: none;
}

#rides {
  display:none;
}

.modal img {
  max-width:540px;
}
